.verse{
    font-weight: bold; text-align: center;
}

.lyrics{
    text-align: center;
}

main{
    text-align: center; font-size: 20px; font-family:fantasy; background-image: linear-gradient(to bottom, white, rgb(192,192,192));
}

header{
    text-align: center;
}

.header{
    font-size: 50px
}

.subheader{
    font-size: 35px;
}

.image1{
    border: 15px solid rgb(192, 192, 192); width: 400px; height: 400px;
}

.image2{
    width: 30px; height: 30px
}