html{
    font-family: 'Noto Sans', sans-serif;
}

header{
    text-align: center;
    padding-top: 30px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    padding-top: 50px;
}

.recipe{
    
}

.recipe:hover{
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px 20px rgb(194, 194, 194);
}

.recipe h3{
    color: black;
    text-decoration: none;
}

#lemonimg{
    width: 85%;
    padding-top: 45px;
}

.color:hover{
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px 20px rgb(194, 194, 194);
}

.color h3{
    color: black;
    text-decoration: none;
}

.color p{
    color: black;
    text-decoration: none;
}

#designerimg{
    width: 85%;
    padding-top: 45px;
}

.seq:hover{
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px 20px rgb(194, 194, 194);
}

.seq h3{
    color: black;
    text-decoration: none;
}

.seq p{
    color: black;
    text-decoration: none;
}

#creative_directorimg{
    width: 85%;
    padding-top: 45px;
}

footer{
    font-size: 10px;
    text-align: center;
    padding-top: 100px;
}